*{
  font-family: 'Nunito', sans-serif;
}

.brand-logo{
  margin-left: 2.5%;
}

.header{
}

.newheader{
}

.editheader{
  margin: 5% 2.5% 2.5% 2.5%;
}

.loginheader{
  border-bottom: 1px solid #9E9E9E;
  padding-bottom: 2%;
}

.registerheader{
  border-bottom: 1px solid #9E9E9E;
  padding-bottom: 2%;
}

#login{
  margin: auto;
  width: 50%;
}

#register{
  margin: auto;
  width: 50%;
}

@media screen and (max-width: 480px) {
    #login {
        width: 85%;
    }
    #register {
        width: 85%;
    }
}

.border{
  border-bottom: 1px solid #bdbdbd;
}

.button{
  background-color: #00b8d4;
  color: white;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  padding: 14px 28px;
  font-size: 1.25em;
}

.editbutton{
  background-color: #00b8d4;
  color: white;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  padding: 14px 28px;
  margin-top: 3%;
}

.newbutton{
  background-color: #00b8d4;
  color: white;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  padding: 14px 28px;
  margin-top: 3%;
}

.navpics{
  margin-top: 10%;
}

table{
  padding: 0;
  margin: 0;
  border: 0;
  border-collapse: collapse;
}

td{
  width: 100px;
  padding: 5px;
  margin: 0;
  border: 0;
}
td.last{
  padding: 0;
  margin: 0;
  border: 0;
}

.url{
  color: #00b8d4;
  font-weight: bold;
}

#editcontainer{
  margin: 2.5%;
}

#newcontainer{
  margin: 2.5%;
}

.edit{
  width: 20%;
  margin: 0% 2.5% 2.5% 2.5%;
  display: inline-block;
  vertical-align: top;
}

.new{
  width: 20%;
  margin: 0% 2.5% 2.5% 2.5%;
  display: inline-block;
  vertical-align: top;
}

#today{
  width: 75%;
  margin: 5%;
}

#future{
  width: 75%;
  margin: 5%;
}

#account{
  width: 100%;
  margin: 5%;
}

#new{
  width: 50%;
  margin: 5%;
}

#past{
  width: 75%;
  margin: 5%;
}

ul.footer li{
  display: inline;
}

div.errors{
  width: 25%;
  margin: 2.5% 0 0 5%;
}
