<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load staticfiles %}
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'login_app/css/style.css' %}" media="screen" title="no title" charset="utf-8">
  <title>timely</title>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".button-collapse").sideNav();
      $('.button').hover(function(){
          $(this).css("background-color", "#4dd0e1");
          }, function(){
          $(this).css("background-color", "#00b8d4");
      });
      $('.url').hover(function(){
          $(this).css("color", "#4dd0e1");
          }, function(){
          $(this).css("color", "#00b8d4");
      });
    });
  </script>
</head>
<body>

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper cyan lighten-2">
        <a href="#" class="brand-logo"><img src="{% static 'login_app/img/alarm-clock-white.png' %}" style="margin-right: 5%;">timely</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{% url 'login:register_home' %}">Register</a></li>
          <li class="active"><a href="#">Login</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="errors">
    {% if messages %}
      {% for message in messages %}
        {% if message.tags %}
          <h5>{{ message }}</h5>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>

  <div id="login">
    <h3 class="loginheader">Login</h3>
    <form action="{% url 'login:login' %}" method='post'>
      {% csrf_token %}
      Email: <input type="text" name='email' autofocus>
      Password: <input type="password" name='password'>
      <input class="button" type='submit' value='Login'>
    </form>
    <br>
    <h5><a href="{% url 'login:register_home' %}" class="url">Don't have an account? Sign up today!</a></h5>
  </div>
</body>
</html>
